@use "variables" as v;
@use "mixins";

.card {
  border: {
    width: 2px;
    style: solid;
    color: v.$main-color-6;
    radius: 5px;
    margin: 40px;
  }
  padding: 0.5em;
  width: 300px;

  &-title {
    margin: 0.3em;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      color: v.$main-color-3;
    }
  }
  &-desc {
    margin: 0.5em;
    text-align: justify;
  }
  &-captions {
    margin:  0.5rem;
    font-style: italic;

  }
  &:hover {
    background-color: v.$main-color-3;
    cursor: pointer;
  }
  @media (max-width: v.$media_776) {
    & {
        flex-grow: 1;
    }
    &-title {
        color: white
    }
    
  }
  
}
