@use "importer" as s;


* {
  box-sizing: border-box;
}

.wrapper-test-2 {
  background-color: s.$main-color-1;
  height: 100vh;
}

.container {
  max-width: 800px;
  background-color: s.$main-color-2;
  margin: 0 auto;

  .cards-wrapper {
    padding: 10px;
    gap: 20px;
    width: 100%;
    height: 100%;
    @include s.d-flex(center, center, wrap, center);
  }
}
